@using AcademyPortal.Handler
@model  ViewRolePermission
@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcademyPortal</title>
    <link rel="stylesheet" href="~/Html/bootstrap/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Html/css/style.css">
    <link rel="stylesheet" href="~/Html//fontawesome-free-6.4.2/css/all.min.css">
    <script src="~/Html//js/jquery-3.7.1.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="btn-create">
            <button class="btn btn-primary color-btn" data-bs-toggle="modal" href="#CreateModel" role="button">+ Create</button>
        </div>

        <div class="background-">
            <table class="table table-bordered">
                <thead style="background-color: #202938">
                    <tr class="text-center color-text">
                        <td style="width: 50px">No</td>
                        <td style="width: 140px">Name</td>
                        <td>Permissions</td>
                        <td style="width: 200px">#</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model.rolePermissions)
                    {
                        <tr class="color-text">
                            <td class="text-center">@role.roleID</td>
                            <input type="hidden" class="roleID-input" value="@role.roleID">
                            <td class="roleNameUpdate">@role.roleName</td>

                            <td >
                                @foreach (var permission in role.permissionName)
                                {
                                    <div class="content">

                                        <label style="color: whitesmoke" for="">@permission</label>
                                        <input type="hidden" class="hiddenInput" value="@permission">

                                        <button class="content-btn content-btn-trash"
                                                form="form_delete">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>

                                }
                            </td>

                            <td class="text-center">
                                <button class="content-btn btn btn btn-edit content-btn-update"
                                        href="#UpdateModel"
                                        data-bs-toggle="modal">
                                    <i class="far fa-edit"></i>
                                </button>
                                <button class="content-btn btn btn-danger content-btn-danger"
                                        form="form_delete">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>

                <tfoot style="background-color: #202938">
                    <tr class="text-center color-text">
                        <td style="width: 50px">No</td>
                        <td style="width: 140px">Name</td>
                        <td>Permissions</td>
                        <td style="width: 200px">#</td>
                    </tr>
                </tfoot>

            </table>
        </div>
        <!-- Create -->
        <div class="modal fade"
             id="CreateModel"
             aria-hidden="true"
             aria-labelledby="exampleModalToggleLabel"
             tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="btn btn-close br-close"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="roleName" class="form-label">Name:</label>
                                <input type="text" id="roleName" class="form-control" name="roleName" />
                                <label for="Permission" class="form-label">Permission:</label>
                                @foreach (var item in Model.listPermissions)
                                {
                                    <div class="form-check">
                                        <input class="myCheckbox" type="checkbox" value="@item.PermisstionName">
                                        <label class="form-check-label" for="checkPermission">@item.PermisstionName</label>
                                    </div>
                                }
                            </div>
                            <di class="modal-footer">
                                <button id="btn" type="submit" class="btn btn-success color-btn" data-target="#CreateModel">
                                    Create
                                </button>
                            </di>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Update -->
        <div class="modal fade"
             id="UpdateModel"
             aria-hidden="true"
             aria-labelledby="exampleModalToggleLabel"
             tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="btn btn-close br-close"
                                data-bs-dismiss="modal"
                                aria-label="Close">
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="roleName" class="form-label">Name:</label>
                                <input type="text" id="roleNameEdit" class="form-control" name="roleName" readonly />
                                <label for="Permission" class="form-label">Permission:</label>
                                @foreach (var item in Model.listPermissions)
                                {
                                    <div class="form-check">
                                        <input class="myCheckbox" type="checkbox" value="@item.PermisstionName">
                                        <label class="form-check-label" for="checkPermission">@item.PermisstionName</label>
                                    </div>
                                }
                            </div>
                            <di class="modal-footer">
                                <button id="btnUpdate" type="button" class="btn btn-success color-btn" data-target="#UpdateModel">
                                    Update
                                </button>
                            </di>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        //Create
        $('#btn').click(function () {
            var valuesCheck = $('input[type="checkbox"].myCheckbox:checked').map(function () {
                return $(this).val();
            }).toArray();
            var text = $("#roleName").val();
            $('#CreateModel').modal('hide');
            $.ajax({
                type: 'POST',
                url: '/Role/CreateRolePermission',
                data: JSON.stringify({ permissionName_: valuesCheck, roleName_: text }),
                contentType: 'application/json',
                success: function (response) {
                    if (response.success) {
                        window.location.href = response.redirectUrl;
                    }
                }
            });
            return false;
        });

        //Delete
        $(".content-btn-danger").click(function () {

            var idRole = $(this).closest("tr").find(".roleID-input").val();

            $.ajax({
                type: "POST",
                url: "/Role/DeleteRolePermission",
                data: JSON.stringify({ ID: idRole }),
                contentType: 'application/json',
                success: function (response) {
                    if (response.success) {
                        window.location.href = response.redirectUrl;
                    }
                }
            });
        });

        
        //ShowInfor len form update
        $(".content-btn-update").click(function () {
            var row = $(this).closest("tr");
            var roleName = row.find(".roleNameUpdate").text();
            $("#roleNameEdit").val(roleName);

            var value = [];
            row.find(".hiddenInput").each(function () {
                value.push($(this).val());
            });

            $(".myCheckbox").each(function () {

                var checkboxValue = $(this).val();

                if (value.includes(checkboxValue)) {

                    $(this).prop("checked", true);
                } else {
                    $(this).prop("checked", false);
                }
            });

        });

        //Update
        $('#btnUpdate').click(function () {

            var text = $("#roleNameEdit").val();
            var selectedPermissions = [];
            $(".myCheckbox").each(function () {
                var value = $(this).val(); 
                if ($(this).is(":checked")) {
                    if (selectedPermissions.indexOf(value) === -1) {
                        selectedPermissions.push(value);
                    }
                } else {
                    var index = selectedPermissions.indexOf(value);
                    if (index !== -1) {
                        selectedPermissions.splice(index, 1); 
                    }
                }
            });
            $('#UpdateModel').modal('hide');
             $.ajax({
                 type: "POST",
                 url: "/Role/UpdateRolePermission",
                 data: JSON.stringify({ permissions: selectedPermissions, roleName: text }),
                 contentType: 'application/json',
                 success: function (response) {
                     if (response.success) {
                         window.location.href = response.redirectUrl;
                     }
                 }
             });
        });
    </script>
    <script src="~/Html//bootstrap/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
</body>
</html>